* {
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.gridContainer {
  margin: 0 auto;
  display: grid;
  align-items: start;
  grid-template-columns: .25fr 1fr 1fr 0.25fr;
  grid-template-rows: .25fr 1fr 1fr .25fr;
}
.gameBoard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-content: start;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-gap: 20px 0 0 0;
}
.cardContainer .selected {
  margin: 10px 5px -10px;
  padding: 0;
}

.header {
  background-color: #FFC503;
  grid-column-start: 1;
  grid-column-end: 4;
}
.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  color: #03E314;
  font-size: 1.5em;
  font-style: oblique;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.buttons {
  background-color: #D6AC20;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}

.scores {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end:4;
}

.cardContainer :hover {

  background-clip: content-box;
  background-color: transparent;
  border-radius: 20px;

}
.cardContainer :active {
  background-color: rgb(250, 91, 5, .5);
}
.selected {
  background-color: rgba(200, 30, 89, 1);
}

/* #flexBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
} */

/* * {
  border: red 1px solid;
} */
