* {
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
}

.gridContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: .25fr 1fr 0.5fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 10px;
}

.header {
  text-align: center;
  background-color: #FFC503;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.titles {
  color: #03E314;
  font-size: 1.5em;
  font-style: oblique;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* margin: 0; */
}

.buttons {
  background-color: #D6AC20;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.scores {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end:4;
}

.gameBoard {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: yellow;
  /* box-sizing: border-box; */
}

/* #flexBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
} */

#flexScores {

}

  }
.card-container {
  /* flex: 1 0 20%;
  padding: 10px; */
}

.card {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer; */
}
/* .card:hover {
  box-shadow: 0px 0px 13px -5px #262626;
} */

* {
  border: red 1px solid;
}
/* #circle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
    } */
